<div class="container">
    <!-- Formulário -->
    <div class="card form">
      <div class="card-header">
        Formulário de Cadastro
      </div>
      <div class="card-body">
        <form (ngSubmit)="adicionarUsuario()">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" [(ngModel)]="nome" name="nome" required>
          </div>

          <div class="form-group mt-3">
            <label for="idade">Idade</label>
            <input type="number" class="form-control" id="idade" placeholder="Digite sua idade" [(ngModel)]="idade" name="idade" required>
          </div>

          <button type="submit" class="btn btn-primary mt-3">Adicionar</button>
        </form>
      </div>
    </div>

    <!-- Lista de usuários -->
     <div class="users">
      <div *ngFor="let usuario of usuarios; let i = index" class="card">
        <div class="card-body user">
          <h5 class="card-title">{{ usuario.nome }}</h5>
          <p class="card-text">Idade: {{ usuario.idade }}</p>
          <button class="btn btn-danger" (click)="excluirUsuario(i)">Excluir</button>
        </div>
      </div>
    </div>
</div>